<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="en-us">
    <!-- <link href="tool_base.css" type="text/css" rel="stylesheet" media="all"/> -->
    <!-- <link href="tool.css" type="text/css" rel="stylesheet" media="all"/> -->
<title>Certificate of Achievement</title>
<meta name="description" content="Etudes is a community that supports development of open source (OS) tools for its platform, Etudes and the Sakai OS software. Additionally, the Etudes Project provides centralized hosting, administration of sites and accounts, training and staff development, and user support to its members.">
<meta name="keywords" content="Etudes, Etudes consortium, Etudes Learning Management System, Course Management System, , Etudes Alliance, California Community Colleges, Sakai, open source software development for Sakai, centralized hosting, faculty support services, training, cyber teachers institute, pedagogy, tools, online teaching and learning, CMS, CLE, Etudes Alliance">
<style>
.noprint {
    margin-bottom: 20px;
}
#canvas {
    display: block;
    margin: auto;
}
</style>

<script language="JavaScript" type="text/JavaScript">
    document.addEventListener("DOMContentLoaded", function(event) {

        var awardedto = "This certificate is awarded to";
        var studentname = "student.name";
        var forachieving = "for achieving";
        var studentscore = "student.score out of test.points in";
        var testtitle = "test.title";
        var coursetitle = "Course: course.title";
        var todaydate = "Date: today.date";

        var canvas = document.getElementById("canvas");
        var context = canvas.getContext("2d");
        var imageObj = new Image();
        imageObj.onload = function(){
            context.drawImage(imageObj, 0, 0);
            context.textAlign = "center";
            context.fillStyle = "#000000";
            context.font = "italic 12pt Times";
            context.fillText(awardedto, canvas.width / 2, 310);
            context.font = "bold 25pt Times";
            context.fillText(studentname, canvas.width / 2, 350);
            context.font = "italic 12pt Times";
            context.fillText(forachieving, canvas.width / 2, 380);
            context.font = "18pt Times";
            context.fillText(studentscore, canvas.width / 2, 420);
            context.font = "bold 16pt Times";
            context.fillText(testtitle, canvas.width / 2, 460);
            context.font = "12pt Times";
            context.textAlign = "left";
            context.fillText(coursetitle, 120 , 510);
            context.font = "12pt Times";
            context.textAlign = "center";
            context.fillText(todaydate, 620, 510);
        };
        imageObj.src = "certificate2.png";
    });

    function printCert(parentNode) {
        parentNode.style.display = 'none';
        window.print();
        parentNode.style.display = 'block';
    }
</script>

</head>

<body>
    <div class="noprint">
        <a id='downloadlink' href="" onclick="javascript:printCert(this.parentNode);" class="toolUiLink">
            <img src="printer.png" alt="" width="16" height="16" border="0" align="absmiddle">
            Send to Printer</a>
        | <a class="toolUiLink" value="" href="" onClick="window.close();" >Close Window</a>
    </div>
    <canvas id='canvas' width="797" height="618"></canvas>
</body>
</html>